.logo-marquee{
    overflow:hidden;
    width:100%;
}

.logo-marquee__track{
    display:flex;
    align-items:center;
    gap:6rem;
    width:max-content;
    will-change:transform;
}

.logo-marquee__group{

    display:flex;
    align-items:center;

    gap:6rem;

    flex-shrink:0;

    padding-right:6rem;
}

.logo-marquee img{

    height:32px;
    width:auto;

    opacity:.8;

    filter:grayscale(100%);
}

@keyframes marquee{

    from{
        transform:translate3d(0,0,0);
    }

    to{
        transform:translate3d(-50%,0,0);
    }
}